// Proxmox vars
proxmox_url = "$PKR_VAR_proxmox_url"
proxmox_node = "$PKR_VAR_proxmox_node"
proxmox_username = "$PKR_VAR_proxmox_username"
proxmox_password = "$PKR_VAR_proxmox_password"
proxmox_datastore = "$PKR_VAR_proxmox_datastore"
proxmox_storage_pool = "$PKR_VAR_proxmox_storage_pool"
#proxmox_storage_pool_type = "lvm"
#proxmox_scsi_controller = "virtio-scsi-pci"
#proxmox_insecure = "true"

// VM Vars
#proxmox_vm_id = "0"
#vm_username= ""
#vm_password = ""
#vm_password_encrypted = ""
vm_pubkey = "$PKR_VAR_vm_pubkey"
vm_timezone = "$PKR_VAR_vm_timezone"
vm_keyboard = "$PKR_VAR_vm_keyboard"
vm_language = "$PKR_VAR_vm_language"
#vm_locale = ""
#vm_country = ""
#vm_fs_type = ""
#vm_disk_type = "virtio"
#vm_net_iface_type = "virtio"
#vm_net_bridge_name = "vmbr0"
#vm_net_firewall = true
#vm_disk_size    = "30G"
#vm_os           = "l26"
#vm_cpu_type = "host"
#vm_cores    = "2"
ssh_private_key = "$PKR_VAR_ssh_private_key"
