// Proxmox vars
proxmox_url = ""
proxmox_node = ""
proxmox_username = ""
proxmox_password = ""
proxmox_datastore = ""
proxmox_storage_pool = ""
#proxmox_storage_pool_type = "lvm"
#proxmox_scsi_controller = "virtio-scsi-pci"
#proxmox_insecure = ""

// VM Vars
vm_memory =
#proxmox_vm_id = "0"
#vm_username= ""
#vm_password = ""
#vm_password_encrypted = ""
vm_pubkey = ""
#vm_timezone = ""
#vm_keyboard = ""
#vm_fs_type = ""
#vm_disk_type = "virtio"
#vm_net_iface_type = "virtio"
#vm_net_bridge_name = "vmbr0"
#vm_net_firewall = true
