variant: fcos
version: 1.5.0
passwd:
  users:
    - name: packer
      ssh_authorized_keys:
        - $SSH_PUB_KEY
      groups:
        - wheel
        - sudo
systemd:
  units:
    - name: qemu-guest-agent.service
      enabled: true
      contents: |
        [Unit]
        Description=Build and run QEMU guest agent
        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=docker run --rm -d --name qemu-ga -v /etc/os-release:/etc/os-release:ro --device /dev/virtio-ports/org.qemu.guest_agent.0:/dev/virtio-ports/org.qemu.guest_agent.0 --net=host --uts=host docker.io/danskadra/qemu-ga
        [Install]
        WantedBy=multi-user.target
